<div id="attr_{{name}}" class="code-item attr item {{#if access}}{{access}}-{{/if}}attr-item {{#if deprecated}} deprecated{{/if}}{{#if extended_from}} inherited{{/if}}">
  <a name="config_{{name}}"></a> {{! For backwards compatibility }}
  <h3 class="code-item-name"><code>{{name}}</code></h3>
  <span class="code-item-type"><i>Attribute Type</i>: <b>{</b>{{#crossLink type}}{{/crossLink}}<b>}</b></span>

  <div class="code-item-properties">
    <div class="properties-wrapper">
      {{#if deprecated}}
        <span class="label label-warning" title="This property is deprecated. Might be removed in future releases.">deprecated</span>
      {{/if}}

      {{#if multiple}}
        <span class="label label-warning" title="This argument may occur one or more times.">multiple</span>
      {{/if}}

      {{#if required}}
        <span class="label label-warning" title="This attribute is required for communication.">required</span>
      {{/if}}

      {{#if unsupported}}
        <span class="label label-warning" title="This feature may not be supported in the specs. Kept for future releases.">unsupported</span>
      {{/if}}

      {{#if access}}
        <span class="label label-default" title="This attribute is {{access}}.">{{access}}</span>
      {{/if}}

      {{#if optional}}
        <span class="label label-default" title="This attribute is optional and not required for communication.">optional</span>
      {{/if}}

      {{#if final}}
        <span class="label label-danger" title="This attribute is final and cannot be changed.">final</span>
      {{/if}}

      {{#if overwritten_from}}
        <span class="label label-danger" title="This attribute is overwritten.">overwritten</span>
      {{/if}}

      {{#if development}}
        <span class="label label-danger label-development" title="This feature is still in development. In may not be available in the current release.">in-development</span>
      {{/if}}

      {{#if static}}
        <span class="label label-default" title="This attribute is static.">static</span>
      {{/if}}

      {{#if readonly}}
        <span class="label label-info" title="This attribute is reference only.">readonly</span>
      {{/if}}

      {{#if global}}
        <span class="label label-info label-global" title="This attribute is placed in the global class namespace.">global</span>
      {{/if}}
    </div>

    <div class="code-item-information">
      {{#if overwritten_from}}
        <span>
          Inherited from
          <a href="{{crossLinkRaw overwritten_from/class}}#attr_{{overwritten_from/name}}">{{overwritten_from/class}}</a>
          {{#if foundAt}}
            but overwritten in
          {{/if}}
        </span>
      {{else}}
        {{#if extended_from}}
          <span>
            Inherited from:
            <a href="{{crossLinkRaw extended_from}}#attr_{{name}}">{{extended_from}}</a>
          </span>
        {{else}}
          {{#providedBy}}
            <span>Provided by the <a href="../modules/{{.}}.html">{{.}}</a> module.</span>
          {{/providedBy}}
        {{/if}}
      {{/if}}
      {{#if deprecationMessage}}
        <span>Deprecated: {{deprecationMessage}}</span>
      {{/if}}
      {{#if providedBy}}
        {{#providedBy}}
          <span>Provided by the <a href="../modules/{{.}}.html">{{.}}</a> module.</span>
        {{/providedBy}}
      {{/if}}
    </div>

    {{#if foundAt}}
      <small>
        <i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
      </small>
    {{/if}}

    {{#if since}}
      <small><i class="fa">&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;Available since <span class="badge">{{since}}</span></small>
    {{/if}}
  </div>

  <div class="code-item-description">
    {{{attrDescription}}}
  </div>

  {{#if default}}
    <div class="code-item-section">
      <h4>Default value:</h4>
      <code class="prettyprint">{{default}}</code>
    </div>
  {{/if}}

  {{#if emit}}
    <div class="code-item-section">
      <h4>Fires event <code>{{name}}Change</code></h4>
      <p>
      Fires when the value for the configuration attribute `{{{name}}}` is
      changed. You can listen for the event using the `on` method if you
      wish to be notified before the attribute's value has changed, or
      using the `after` method if you wish to be notified after the
      attribute's value has changed.
      </p>
      <div class="params">
        <h4>Parameters:</h4>
        <ul class="params-list">
          <li class="param">
            <code class="param-name">e</code>
            <span class="type">{{#crossLink "EventFacade"}}{{/crossLink}}</span>

            <div class="param-description">
              An Event Facade object with the following
              attribute-specific properties added:
            </div>

            <ul class="params-list">
              <li class="param">
                <code class="param-name">prevVal</code>
                <span class="type">Any</span>
                <div class="param-description">The value of the attribute, prior to it being set.</div>
              </li>
              <li class="param">
                <code class="param-name">newVal</code>
                <span class="type">Any</span>
                <div class="param-description">The value the attribute is to be set to.</div>
              </li>
              <li class="param">
                <code class="param-name">attrName</code>
                <span class="type">{{#crossLink "String"}}{{/crossLink}}</span>
                <div class="param-description">The name of the attribute being set.</div>
              </li>
              <li class="param">
                <code class="param-name">subAttrName</code>
                <span class="type">{{#crossLink "String"}}{{/crossLink}}</span>
                <div class="param-description">If setting a property within the attribute's value, the name of the sub-attribute property being set.</div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  {{/if}}

  {{#if params}}
    <div class="code-item-section">
      <h4>Keys:</h4>

      <ul class="params-list">
      {{#params}}
          <li class="param">
            <code class="param-name">{{name}}</code>
            <span class="type"><b>{</b>{{#crossLink type}}{{/crossLink}}<b>}</b></span>

            {{#if optional}}<span class="label">Optional</span>{{/if}}
            {{#if multiple}}<span class="label multiple" title="This argument may occur one or more times.">Multiple</span>{{/if}}

            <div class="param-description">
                {{{description}}}
            </div>

            {{#if props}}
              <ul class="params-list">
                {{#props}}
                  <li class="param">
                    <code class="param-name">{{name}}</code>
                    <span class="type"><b>{</b>{{#crossLink type}}{{/crossLink}}<b>}</b></span>

                    {{#if optional}}<span class="label">Optional</span>{{/if}}
                    {{#if multiple}}<span class="label multiple" title="This argument may occur one or more times.">Multiple</span>{{/if}}

                    <div class="param-description">
                      {{{description}}}
                    </div>

                    {{#if props}}
                      <ul class="params-list">
                        {{#props}}
                          <li class="param">
                            <code class="param-name">{{name}}</code>
                            <span class="type"><b>{</b>{{#crossLink type}}{{/crossLink}}<b>}</b></span>

                            {{#if optional}}<span class="label">Optional</span>{{/if}}
                            {{#if multiple}}<span class="label multiple" title="This argument may occur one or more times.">Multiple</span>{{/if}}

                            <div class="param-description">
                              {{{description}}}
                            </div>
                          </li>
                        {{/props}}
                      </ul>
                    {{/if}}
                  </li>
                {{/props}}
              </ul>
            {{/if}}
          </li>
      {{/params}}
      </ul>
    </div>
  {{/if}}

  {{#return}}
    <div class="code-item-section">
      <h4>Returns:</h4>

      <div class="returns-description">
        {{#if description}}
          {{#if type}}
            <span class="type"><b>{</b>{{#crossLink type}}{{/crossLink}}<b>}</b></span>:
          {{/if}}
          {{{description}}}
        {{else}}
          {{#if type}}
            <span class="type"><b>{</b>{{#crossLink type}}{{/crossLink}}<b>}</b></span>:
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/return}}

  {{#example}}
    <div class="code-item-section">
      <h4>Example:</h4>
      <pre class="example-content prettyprint">
        {{{.}}}
      </pre>
    </div>
  {{/example}}
  <hr>
</div>