<div class="jumbotron no-padding">
  <div class="container">
    <h1>
      {{name}} <span>Class</span>
      {{#if foundAt}}
        <small>
          <i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
        </small>
      {{/if}}
      {{#if since}}
        <small><i class="fa">&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;Available since <span class="badge">{{since}}</span></small>
      {{/if}}
    </h1>
    <br/>
  </div>
</div>
<div class="page container">
  <section id="infodocs">
    <p>{{{classDescription}}}</p>
    <hr>
  </section>
  <section id="classdocs">
    <ul class="nav nav-tabs" role="tablist">
      <li  role="presentation" class="doc-selected active"><a href="#constructor">Constructor</a></li>
      {{#if methods}}
        <li role="presentation" class="doc-selected"><a href="#methods">Methods</a></li>
      {{/if}}
      {{#if events}}
        <li role="presentation" class="doc-selected"><a href="#events">Events</a></li>
      {{/if}}
      {{#if attrs}}
         <li role="presentation" class="doc-selected"><a href="#attrs">Constants</a></li>
      {{/if}}
      {{#if properties}}
        <li role="presentation" class="doc-selected"><a href="#properties">Logging</a></li>
      {{/if}}
    </ul>
    <div class="scroll-data"></div>
  </section>
</div>
<br><br>
<div class="page container">
  <div id="index" class="api-class-tabpanel index">
    <ul id="doc-type-select" class="nav nav-pills" role="tablist">
      <li role="presentation" class="doc-type-select-public active">
        <a>Developer <span class="doc-private-label">methods</span></a>
      </li>
      <li role="presentation" class="doc-type-select-private">
        <a>Internal <span class="doc-private-label">methods</span></a>
      </li>
    </ul>
    <div class="section-doc-group">
      <h2 id="current-doc-selected-title"></h2>
      <div class="col-md-3">
        <div></div>
        <div class="list-group-o-wrapper">
          <span class="title"></span>
          <div class="list-group-wrapper">
            <div class="list-group {{#if extends}} extends{{/if}}">
              <a href="#method_{{name}}" class="list-group-item code-menu-item constructor-item">
                &nbsp;&nbsp;Skylink ()
              </a>
              {{#if methods}}
                {{#methods}}
                  <a href="#method_{{name}}" class="list-group-item code-menu-item {{#if access}} {{access}}-method-item {{else}}method-item {{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                    &nbsp;&nbsp;{{name}}
                    <span class="settings">
                      {{#if static}}
                        <small class="label label-info">static</small>
                      {{/if}}
                      {{#if deprecated}}
                        <small class="label label-warning">deprecated</small>
                      {{/if}}
                      {{#if beta}}
                        <small class="label label-info">beta</small>
                      {{/if}}
                    </span>
                  </a>
                {{/methods}}
              {{/if}}
              {{#if properties}}
                {{#properties}}
                  <a href="#property_{{name}}" class="list-group-item code-menu-item {{#if access}} {{access}}-property-item {{else}}property-item {{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                    &nbsp;&nbsp;{{name}}
                    <span class="settings">
                      {{#if static}}
                        <small class="label label-info">static</small>
                      {{/if}}
                      {{#if deprecated}}
                        <small class="label label-warning">deprecated</small>
                      {{/if}}
                    </span>
                  </a>
                {{/properties}}
              {{/if}}
              {{#if attrs}}
                {{#attrs}}
                  <a href="#attr_{{name}}" class="list-group-item code-menu-item {{#if access}} {{access}}-attr-item {{else}}attr-item {{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                    &nbsp;&nbsp;{{name}}
                    <span class="settings">
                      {{#if static}}
                        <small class="label label-info">static</small>
                      {{/if}}
                      {{#if deprecated}}
                        <small class="label label-warning">deprecated</small>
                      {{/if}}
                      {{#if beta}}
                        <small class="label label-info">beta</small>
                      {{/if}}
                    </span>
                  </a>
                {{/attrs}}
              {{/if}}
              {{#if events}}
                {{#events}}
                  <a href="#event_{{name}}" class="list-group-item code-menu-item {{#if access}} {{access}}-event-item {{else}}event-item {{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                    &nbsp;&nbsp;{{name}}
                    <span class="settings">
                      {{#if static}}
                        <small class="label label-info">static</small>
                      {{/if}}
                      {{#if deprecated}}
                        <small class="label label-warning">deprecated</small>
                      {{/if}}
                      {{#if beta}}
                        <small class="label label-info">beta</small>
                      {{/if}}
                    </span>
                  </a>
                {{/events}}
              {{/if}}
            </div>
          </div>
          <div class="scroll-top">
            <i class="fa fa-arrow-circle-o-up"></i>&nbsp;&nbsp;Scroll to top
          </div>
        </div>
      </div>
      <div class="col-md-9 doc-content">
        {{#is_constructor}}
          <section id="constructor">
            <div class="constructor-item">
              {{>method}}
            </div>
            <hr>
          </section>
        {{/is_constructor}}
        {{#if methods}}
          <section id="methods">
            {{#methods}}
              {{>method}}
            {{/methods}}
          </section>
        {{/if}}
        {{#if properties}}
          <section id="properties">
            {{#properties}}
              {{>props}}
            {{/properties}}
          </section>
        {{/if}}
        {{#if attrs}}
          <section id="attrs">
            {{#attrs}}
              {{>attrs}}
            {{/attrs}}
          </section>
        {{/if}}
        {{#if events}}
          <section id="events">
            {{#events}}
              {{>events}}
            {{/events}}
          </section>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!--
{{#if module}}
  {{#modules}}
    <a id="module_{{name}}" class="list-group-item code-menu-item module-menu-item"> &nbsp;&nbsp;{{name}}</span></a>
  {{/modules}}
{{/if}}

{{#if uses}}
    <ul class="inline commas">
      {{#uses}}
        <li><a href="{{.}}.html">{{.}}</a></li>
      {{/uses}}
    </ul>
{{/if}}

{{#if extends}}
    <div class="extends">
        Extends {{#crossLink extends}}{{/crossLink}}
    </div>
{{/if}}

{{#if module}}
    {{#if submodule}}
        Module: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
        Parent Module: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{else}}
        Module: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{/if}}
{{/if}}

{{#if deprecated}}
<div class="box deprecated">
        <p>
        {{#if deprecationMessage}}
            <strong>Deprecated:</strong> {{deprecationMessage}}
        {{else}}
            This class is deprecated.
        {{/if}}
        </p>
    </div>
{{/if}}
-->
